<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{this.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<style>
    html, body{
        font-family: sans-serif;
        margin: 5px;
    }

    .navbar{
        width: 100vw - 40px;
        height: 50px;
        padding: 10px;
        padding-left: 20px;
        background-color: #009e61;
        color: #fff;
        border-radius: 20px;
    }

    .navbar-burger{
        font-size: 24px;
        width: 30px;
        float: left;
    }

    .navbar-logo{
        font-family: sans-serif;
        font-size: 25px;
    }

    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #026d44;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px !important;
    }

    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    color: #d2ffee;
    display: block;
    transition: 0.3s;
    }

    .sidenav a:hover {
    color: #f1f1f1;
    }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    #main {
    transition: margin-left .5s;
    padding: 20px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{

    width: 300px;
}

</style>

<body>
    <script type="text/javascript">
        function tabE(obj, e) {
            var e = (typeof event != 'undefined') ? window.event : e;// IE : Moz 
            if (e.keyCode == 13) {
                var ele = document.forms[0].elements;
                for (var i = 0; i < ele.length; i++) {
                    var q = (i == ele.length - 1) ? 0 : i + 1;// if last element : if any other 
                    if (obj == ele[i]) { ele[q].focus(); break }
                }
                return false;
            }
        }

            function openNav() {
            document.getElementById("sideNav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
            document.getElementById("sideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }
    </script>

        <div class="navbar">
            <i onclick="openNav()" class="navbar-burger fa-solid fa-bars"></i>
            <center>
                <div class="navbar-logo">LonaDB</div>
            </center>
            
        </div>
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Find us on Github</a>
        <a href="#">Something else</a>
    </div>
    <div class="container">
        <div class="login-container">
            <h2>Login</h2>
            <form class="login-form" action="/login" method="POST">
                
                <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="text" id="name" class="form-control" name="name">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password">
                </div>
                <center>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Login" class="btn btn-success">
                    </div>
                </center>
            </form>
        </div>
    </div>
</body>

</html>