<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{this.title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
    <script type="text/javascript">
        function tabE(obj, e) {
            var e = (typeof event != 'undefined') ? window.event : e;// IE : Moz 
            if (e.keyCode == 13) {
                var ele = document.forms[0].elements;
                for (var i = 0; i < ele.length; i++) {
                    var q = (i == ele.length - 1) ? 0 : i + 1;// if last element : if any other 
                    if (obj == ele[i]) { ele[q].focus(); break }
                }
                return false;
            }
        }

            function openNav() {
            document.getElementById("sideNav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
            document.getElementById("sideNav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            }
    </script>

        <div class="navbar">
            <i onclick="openNav()" class="navbar-burger fa-solid fa-bars"></i>
                <b class="navbar-logo">LonaDB | Client</b>
            
        </div>
    <div id="sideNav" class="sidenav shadow1">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="https://github.com/LonaDB">Find us on Github</a>
        <a href="https://discord.gg/tBWVGQt8sP">Community</a>
    </div>
    <div class="container">
        <div class="shadowl rounded">
            <h2>Login</h2>
            <form class="login-form" action="/login" method="POST">
                
                <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="text" id="name" class="form-control" name="name">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password">
                </div>
                <center>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Login" class="btn btn-success">
                    </div>
                </center>
            </form>
        </div>
    </div>
</body>

</html>