<a href="/">Home</a>
{{#each data}}
    <p>{{@key}} = {{{json this}}}</p>
{{/each}}

<p>Set value (string)</p>
<form action="/command", method="POST">
    <input type="hidden" name="tableName" value="{{table}}">
    <input type="text" value="" name="name" placeholder="Variable name">
    <input type="text" value="" name="value" placeholder="Variable value">
    <input type="submit" value="Set Variable" name="command">
</form>